.nav-link {
  font-family: Courier New;
  font-size: 2.8rem;
  padding-left: 100px;
  color: rgb(244, 245, 244);
  display: block;
  width: 100%;
  z-index: 100%;
  position: initial;
  padding: 0;
}

.nav {
    display: flex;
    background: rgb(3, 2, 2);
    opacity: .5;
    text-align: center;
}
