
<nav class="nav nav-pills nav-fill">
<p class="titulo1" align="center">ÚNETE A NUESTRAS REDES SOCIALES</p>
<div align="center" href="https://www.facebook.com/lagoparkoficial/" target="_blank"></div>
<div align="center" href="https://www.facebook.com/lagoparkoficial/" target="_blank">  
  <img src="assets/Imagenes/iconface.png" title="Facebook" width="47" height="47" ></div>
  <div  align="center" href="https://www.instagram.com/lagoparkoficial/" target="_blank"> 
  <img src="assets/Imagenes/iconinsta.png" title="Instagram" width="48" height="48"></div>
</nav>
  



  