<div class="container" id="contactanos">
	<div class="row">
		<div  class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
		<p class="im1">
                <img src="assets/Imagenes/lago2.jpeg" style="width: 500px;">
        </p>
		</div>
		<div  class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
    
<p class="t1">Ofrecemos servicio de restaurante para cualquier evento, grande o pequeño. Entendemos sus necesidades y abasteceremos la comida para satisfacer los criterios más importantes de todos, tanto en apariencia como en sabor. No dude en ponerse en contacto con nosotros.</p>
<div>
<p class="t1"><b>LAGO PARK Km 15 Vía Pamplona - Los Vados</b></p>
<p class="t1">También puedes contáctarnos al 3209838096 o al correo eléctronico lago_park@gmail.com, o puedes enviarnos un mensaje aquí:</p>
    
<div class= "contenedor">
    <form action ="" class="form">
        <div class= "form-header">
            <h1 class= "form-title">C<span>ontáctanos</span></h1>    
      
        <label for="Nombre" class ="form-label"> Nombres:</label>
        <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre">

        <label for="Dirección" class ="form-label"> Dirección:</label>
        <input type="text" id="direccion" class="form-input" placeholder="Escriba su dirección">

        <label for="correo" class ="form-label"> Correo Electronico:</label>
        <input type="email" id="correo" class="form-input" placeholder="Escriba su correo">
    
        <label for="mensaje" class ="form-label"> Mensaje:</label>
        <textarea id="nombre" class="form-text-area" placeholder="Escriba aquí su mensaje"></textarea>
    
        <input type="submit" class="btn-submit" value="Enviar consulta">    
        </div>
        </form>
