<div class="container" id="nosotros">
    <H1 class="titulo1" align="center"> Estructura Interna </H1>
      <div class="row">
          <div  class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
          <p class="im1">
                  <img src="assets/Imagenes/mesas.jpg" style="width: 420px;">
          </p>
      </div>
    <div  class="col-xs-6 col-sm-6 col-md-6 col-xl-6">
      <p class="titulo1">Políticas de la Empresa</p>
      <p class="t1">
  •	Ofrecer un servicio bien seleccionado, preparado, procesado y presentado a los clientes del restaurante.
  <p>
  
  </p>
  <p class="t1">
  •	Ofrecer una carta variada en opciones, proporcionando al cliente un producto sano de excelente sabor y calidad.
  </p>
  <p>
  
  </p>
  <p class="t1">
    •	Llevar a cabo un cuidadoso proceso de higiene en todas las áreas del establecimiento, mesas, sillas, lugar, baños, equipo de trabajo y alimentos para que el restaurante sea de total agrado para los clientes.
  </p>
  <p>
  
  </p>
  <p class="t1">
  •	Alcanzar un servicio rápido y eficiente, siempre cuidando cada paso del proceso, y los comportamiento para con el cliente.
  </p>
    </div>
   </div>
  </div>
  <p class="titulo1">Perfiles de la Empresa</p>
      <p class="t1">
        <p class="im1">
          <div align="center"><img src="assets/Imagenes/perfiles.jpg" style="width: 300px;"></div>   
      
  <p class="titulo1">Procesos y Subprocesos de la Empresa</p>
     <p class="t1">
      <p class="im1">
      <img src="assets/Imagenes/proceso1.jpg" alt="Proceso de compras para el almacen" style="width: 400px;">
      <h5 class="tit1"> Proceso de compras para el almacen </h5>
    <p class="im1">
      <div align="center"><img src="assets/Imagenes/proceso2.jpg" style="width: 500px;" alt="Proceso de producción"></div>
      <h5 class="tit1" align="center"> Proceso de producción</h5> 
    <p class="im1">
      <div align="right"><img src="assets/Imagenes/proceso3.jpg" alt="Proceso de ventas" style="width: 500px;"></div>  
      <h5 class="tit1" align="right"> Proceso de ventas </h5>>   
