<div class="mt-5 ">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>


  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="height: 93vh">
      <img src="assets/Imagenes/comida22.jpg" alt="Error al cargar a imagen" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h5 class="tit1">Comida deliciosa, maravillosos paisajes y un hermoso lago. </h5>
        <p class="sub1">Esto y mucho más lo encuentras en el mejor lugar, en Lago Park. ¡ Te esperamos!</p>
     </div>
    </div>

    <div class="carousel-item" style="height: 100vh">
      <img src="assets/Imagenes/momento1.jpg" alt="Error al cargar a imagen" class="d-block w-100" >
      <div class="carousel-caption d-none d-md-block">
        <h5 class="tit2" >Lago Park se disfruta mejor en compañía de tus seres queridos. </h5>
        <p class="sub2" >Ven y conoce este maravilloso lugar.</p>
      </div>
    </div>

    <div class="carousel-item" style="height: 100vh">
      <img src="assets/Imagenes/comida1.jpg" alt="Error al cargar a imagen" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="tit3">Te ofrecemos variedad en postres</h5>
        <p class="sub3">Ven este fin de semana y endulza tu día. </p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
<div>

</div>  
</div>
