@import url('https://fonts.googleapis.com/css?family=Ultra');
body{
	/*color:#000;*/
	background-color: #33FF7D;
}
etiqueta{
	font-family: 'Ultra', serif;
	font-size: 40px;
}
subtitulo{
	font-family: 'Ultra', serif;
	font-size: 20px;
}

#bt{
	font-family: XiBeronne;
	font-size: 60;
}
.carousel-item active{
width: 30px;
height: 3000px;
}
.carousel-item active {
	
}
.menu-1{
	height: 60px;
	/*background: #C0392B; Monotype Corsiva*/
}
.slider-1{
	background: #F1BAAE;
	height: 70vh;
	text-align: center;
	animation: cambio 20s infinite alternate linear;
}
.slider-2{
	background: #F3F6C0;
	text-align: center;
}
.slider-3{
	background: #DAFBD8;
	text-align: center;
	height: 50vh;
}
.slider-4{
	background: #FBD8FA;
	text-align: center;
	height: 50vh;
}
.slider-5{
	height: 70vh;
	background: #F1BAAE;
	text-align: center;
}
.slider-6{
	background: #F3F6C0;
	text-align: center;
	height: 110vh;
}

header{
right: 100px;
}
p{
	font-size: 20px;
	color: #000;
}
lista{
	font-size: 20px;
	color: #000;
}

div.cont{
	position: fixed;
}
.organigrama * {
  margin: 0px;
  padding: 0px;
}

.organigrama ul {
  padding-top: 20px;
  position: relative;
}

.organigrama li {
	float: left;
  text-align: center;
	list-style-type: none;
	padding: 20px 5px 0px 5px;
  position: relative;
}

.organigrama li::before, .organigrama li::after {
	content: '';
	position: absolute;
  top: 0px;
  right: 50%;
	border-top: 1px solid #f80;
	width: 50%;
  height: 20px;
}

.organigrama li::after{
	right: auto;
  left: 50%;
	border-left: 1px solid #f80;
}

.organigrama li:only-child::before, .organigrama li:only-child::after {
	display: none;
}

.organigrama li:only-child {
  padding-top: 0;
}

.organigrama li:first-child::before, .organigrama li:last-child::after{
	border: 0 none;
}

.organigrama li:last-child::before{
	border-right: 1px solid #f80;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.organigrama li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.organigrama ul ul::before {
	content: '';
	position: absolute;
  top: 0;
  left: 50%;
	border-left: 1px solid #f80;
	width: 0;
  height: 20px;
}

.organigrama li a {
	border: 0px solid #f80;
	padding: 1em 0.75em;
	text-decoration: none;
	color: #333;
	font-family: arial, verdana, tahoma;
	font-size: 0.85em;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.organigrama li a:hover {
	border: 1px solid #fff;
	color: #ddd;
  background-color: rgba(255,128,0,0.7);
	display: inline-block;
}

.organigrama > ul > li > a {
  font-size: 1em;
  font-weight: bold;
}

.organigrama > ul > li > ul > li > a {
  width: 8em;
}
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


.carousel-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


